<%
const posts = _.cms('posts')
const themeCustom = _.settings.theme.custom || ''
if (Array.isArray(posts) && posts.length) {
  %>
  
    <div class="apx blog my-4 my-lg-5" style="--secondary_color:<%= opt.section_secondary_color %>;">
      <div class="<%= opt.container || opt.spacing.container %> ">
        <div class="row justify-content-center mb-3">
          <div class="col-auto">
            <%- await include('@/sections/inc/apx-title-section', {
              _, opt: { ...opt }
            }) %> 
          </div>
        </div>
        <div class="row">
          <%
          const postsList = []
          posts.forEach(slug => { 
            const post = (_.cms(`posts/${slug}`))
            post.slug = slug
            postsList.push(post)
          })
          postsList.sort((a, b) => {
            return b.date > a.date ? 1 : -1
          })
          postsList.forEach(post => { 
            const { title, slug, thumbnail, description, date } = post 
            %>
            <div class="col-12 col-md-3">
              <div class="card">
                <% if (thumbnail) { %>
                  <a href="/posts/<%= slug %>">
                    <img
                      src="<%= _.assetsPrefix || '' %><%= thumbnail %>"
                      class="card-img-top"
                      alt="<%= title %>"
                    >
                  </a>
                <% } %>
                <div class="card-body">
                  <span class="blog-post-date">
                    <% const postDate = _.ecomUtils.formatDate(date) %>
                    <%= postDate %>
                  </span>
                  <h5 class="card-title">
                    <a href="/posts/<%= slug %>">
                      <%= title %>
                    </a>
                  </h5>
                  
                    <a
                      href="/posts/<%= slug %>"
                      class="blog-post-link"
                    >
                      <%- _.dictionary('seeMore') %>
                      
                    </a>
                  
                </div>
              </div>
            </div>
          <% }) %>
        </div>
        <% if (opt.cta_link && opt.cta_text) {%>
        <div class="row justify-content-center mt-5">
          <div class="col-auto">
            <%- await include('@/sections/inc/apx-cta-section', {
              _, opt: { ...opt }
            }) %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  <%
}
%>
