<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}
const themeCustom = _.settings.theme.custom || ''

const productProperties = [];
const productTags = [];
if(['categories','home','search','brand','products'].includes(_.pageName)){
  const apx_tags = _.cms('apx_tags')
  if (Array.isArray(apx_tags) && apx_tags.length > 0) {      
    apx_tags.forEach(item => { 
      const lib = (_.cms(`apx_tags/${item}`))
      productTags.push(lib)    
    })
  }
}
  const apx_products = _.cms('apx_properties')
  if (Array.isArray(apx_products) && apx_products.length > 0) {      
    apx_products.forEach(item => { 
      const lib = (_.cms(`apx_properties/${item}`))
      productProperties.push(lib)    
    })
  }
%>
<% if (contacts.whatsapp) { %>   
  <a
    href="https://wa.me/55<%= contacts.whatsapp.replace(/\D/g, '') %>"
    target="_blank"
    rel="noopener"
    class="floating-whatsapp-link"
    data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
  >
    <i class="i-whatsapp"></i>
  </a>

<% } %>
<!-- <script>
  (function (o, c, t, a, d, e, s, k) {
       o.octadesk = o.octadesk || {};
       o.octadesk.chatOptions = {
         subDomain: a,
         showButton: d,
         openOnMessage: e,
         hide: s
       };
       var bd = c.getElementsByTagName("body")[0];
       var sc = c.createElement("script");
       sc.async = 1;
       sc.src = t;
       bd.appendChild(sc);
     })(window, document, 'https://cdn.octadesk.com/embed.js', 'o166130-558',  'true', 'true', 'false');
 </script> -->
<button class="specs_compare-trigger">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M14 10C14.9319 10 15.3978 10 15.7654 9.84776C16.2554 9.64477 16.6448 9.25542 16.8478 8.76537C17 8.39782 17 7.93188 17 7C17 6.06812 17 5.60218 16.8478 5.23463C16.6448 4.74458 16.2554 4.35523 15.7654 4.15224C15.3978 4 14.9319 4 14 4L6 4C5.06812 4 4.60218 4 4.23463 4.15224C3.74458 4.35523 3.35523 4.74458 3.15224 5.23463C3 5.60218 3 6.06812 3 7C3 7.93188 3 8.39782 3.15224 8.76537C3.35523 9.25542 3.74458 9.64477 4.23463 9.84776C4.60218 10 5.06812 10 6 10L14 10Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M18 20C18.9319 20 19.3978 20 19.7654 19.8478C20.2554 19.6448 20.6448 19.2554 20.8478 18.7654C21 18.3978 21 17.9319 21 17C21 16.0681 21 15.6022 20.8478 15.2346C20.6448 14.7446 20.2554 14.3552 19.7654 14.1522C19.3978 14 18.9319 14 18 14H6C5.06812 14 4.60218 14 4.23463 14.1522C3.74458 14.3552 3.35523 14.7446 3.15224 15.2346C3 15.6022 3 16.0681 3 17C3 17.9319 3 18.3978 3.15224 18.7654C3.35523 19.2554 3.74458 19.6448 4.23463 19.8478C4.60218 20 5.06812 20 6 20L18 20Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  <span class="d-none d-md-block">Comparar<br>Produtos</span>
  <i class="specs_compare-quantity">0</i>
</button>
<div class="specs_compare">
  <header class="card-header d-md-none d-block">
    <div class="row apx-side-heading">
      <div class="col">
        <span>Comparador de Produtos</span>
      </div>
      <div class="col-auto">
        <button
          type="button"
          class="close"
          :aria-label="i19close"
        >
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 6L6 18M6 6L18 18" stroke="#131313" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
  </header>
  <button class="close d-none d-md-block">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.9999 7L6.99994 13M7.00006 7L13.0001 13M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
  </button>
  <div class="container">
    <div class="specs_compare-products">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md">
          <div class="row specs_compare-product-list">

          </div>
          
        </div>
      </div>
    </div>
    <div class="specs_compare-specs">
    </div>
  </div>
  
</div>
<script>
  window.apx_properties = JSON.parse(<%- JSON.stringify(JSON.stringify(productProperties)) %>);  
  window.apx_tags = JSON.parse(<%- JSON.stringify(JSON.stringify(productTags)) %>);  
</script>
<% if(_.pageName == "home") { %>
<section class="newsletter my-5">
  <div class="container">
    <div class="bg p-md-5">
      <div class="row align-items-center p-4">
        <div class="col-12 col-md-7">
            <div class="apx-title-section" >
            <h2 class="mb-md-4">Assine nossa <b>newsletter</b><small>e receba as últimas novidades</small></h2>
              <p class="mb-md-4 d-md-block d-none">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh viverra non semper suscipit posuere a pede.</p>
            </div>
          
        </div>  
        <div class="col-md">
          <svg class="ico" width="233" height="234" viewBox="0 0 233 234" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M124.802 31.1525L134.685 98.9741L202.241 110.533L140.793 140.89L150.676 208.712L102.816 159.652L41.3674 190.009L73.2365 129.331L25.3765 80.2716L92.9326 91.8303L124.802 31.1525Z" fill="#9089FF"/>
            <path d="M139.198 20.7222L148.415 83.9755L148.572 85.0539L149.647 85.2377L212.652 96.0179L155.343 124.33L154.366 124.813L154.523 125.892L163.74 189.145L119.104 143.39L118.343 142.61L117.366 143.092L60.0569 171.405L89.7793 114.814L90.2861 113.849L89.525 113.069L44.8887 67.3138L107.895 78.094L108.969 78.2778L109.475 77.313L139.198 20.7222Z" fill="white" stroke="black" stroke-width="3"/>
          </svg>  
        </div>
        <div class="col-12 col-md-4 pl-md-5 mt-md-0 mt-3">
          <div class="apx-title-section d-md-block d-none">
            <div class="h2 mb-3">
            Se inscreva, <b>é grátis</b></div>
            </div>
            
          <form action="">
            <input type="text" placeholder="Nome"/>
            <input type="email" placeholder="E-mail">
            <button type="button">Assinar <span class="d-md-none d-inline">Newsletter</span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<% } %>
<footer class="footer">
  
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 order-lg-first order-last mt-md-0 mt-4">
        <div class="footer__contacts">
          <div class="mb-4 d-md-block d-none">
          <%- await include('@/layout/inc/logo', { _ }) %>
          </div>

          <ul class="list-unstyled">
            <% if (footer.contacts.phone_wpp) { %>
              <% if (contacts.whatsapp) { %>
                <li>
                  <span class="footer__list-icon">
                    <img src="./assets/footer_whatsapp.svg"/>
                  </span>
                  <a
                    href="javascript:;"
                    target="_blank"
                    rel="noopener"
                    class="whatsapp-link"
                    data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
                  >
                    <small>Whatsapp</small>
                    <%= contacts.whatsapp %>
                  </a>
                </li>
              <% } %> 
              <% if (contacts.phone) { %>
                <li>
                  <span class="footer__list-icon">
                    <img src="./assets/footer_phone.svg"/>
                  </span>
                  <a
                    href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                    target="_blank"
                    rel="noopener"
                  >
                    <small>Telefone</small>
                    <%= contacts.phone %>
                  </a>
                </li>
              <% } %>
            <% } %>
            <% if (footer.contacts.email) { %>
              <li>
                <span class="footer__list-icon">
                  <img src="./assets/footer_mail.svg"/>
                </span>
                <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener">
                  <small>E-mail</small>
                  <%= contacts.email %>
                </a>
              </li>
            <% } %>
            <% if (footer.contacts.address) { %>
              <li class="d-md-flex d-none">
                <span class="footer__list-icon">
                  <img src="./assets/footer_address.svg"/>
                </span>
                <address>
                  <small>Endereço</small>
                  <%- contacts.address %>
                </address>
              </li>
            <% } %>
            <li>
              <span class="footer__list-icon">
                <img src="./assets/footer_clock.svg"/>
              </span>
              <p>
                <small>Atendimento</small>
                Seg. à Sex. das 8h às 17h
              </p>
            </li>
          </ul>

          
        </div>
      </div>
      <hr class="mt-1 d-md-none d-block">
      <div class="col-12 col-md-8 offset-md-1">
        <div class="row">
          <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
            <div class="col-12 col-md">
                <a
                  class="footer__title"
                  data-toggle="collapse"
                  href="#footer-pages"
                  role="button"
                  aria-expanded="false"
                  aria-controls="footer-pages"
                >
                  <%= footer.links_1.title || _.dictionary('pages') %>
                  <button type="button" class="d-inline d-md-none">                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 7V17M7 12L17 12" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg> 
                  </button>
                </a>
                <div class="collapse" id="footer-pages">
                  <% if (footer.links_1.list_pages) { %>
                    <ul class="footer__links">
                      <% (_.cms('pages') || []).forEach(slug => { %>
                        <% const { title } = _.cms(`pages/${slug}`) %>
                        <li>
                          <i class="i-chevron-right"></i>
                          <a href="/pages/<%= slug %>">
                            <%= title %>
                          </a>
                        </li>
                      <% }) %>
                    </ul>
                  <% } else { %>
                    <ul class="footer__links">
                      <% footer.links_1.list.forEach(({ url, text }) => { %>
                        <li>
                          <i class="i-chevron-right"></i>
                          <a href="<%= url %>">
                            <%= text %>
                          </a>
                        </li>
                      <% }) %>
                    </ul>
                  <% } %>
                </div>
              </div>
            <% } %>
      
            <% if (footer.links_2.list_categories || footer.links_2.list.find(({ url }) => url)) { %>
              <div class="col-12 col-md">
                <a
                  class="footer__title"
                  data-toggle="collapse"
                  href="#footer-categories"
                  role="button"
                  aria-expanded="false"
                  aria-controls="footer-categories"
                >
                  <%= footer.links_2.title || _.dictionary('categories') %>
                  <button type="button" class="d-inline d-md-none">                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 7V17M7 12L17 12" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                  </button>
                </a>
                <div class="collapse" id="footer-categories">
                  <% if (footer.links_2.list_categories) { %>
                    <ul class="footer__links">
                      <% _.categories.slice(0,3).forEach(({ name, slug, parent }) => { %>
                        <% if (!parent) { %>
                          <li>
                            <i class="i-chevron-right"></i>
                            <a href="/<%= slug %>">
                              <%= name %>
                            </a>
                          </li>
                        <% } %>
                      <% }) %>
                    </ul>
                  <% } else { %>
                    <ul class="footer__links">
                      <% footer.links_2.list.forEach(({ url, text }) => { %>
                        <li>
                          <i class="i-chevron-right"></i>
                          <a href="<%= url %>">
                            <%= text %>
                          </a>
                        </li>
                      <% }) %>
                    </ul>
                  <% } %>
                </div>
              </div>
            <% } %>
      
            <div class="col-12 col-md">
              <div class="">
                <a
                  class="footer__title"
                  data-toggle="collapse"
                  href="#footer-payments"
                  role="button"
                  aria-expanded="false"
                  aria-controls="footer-payments"
                >Pagamento
                
                </a>
                <p class="footer__payment-methods collapse" id="footer-payments">
                  <% Object.keys(footer.payment_methods).forEach(method => { %>
                    <% if (footer.payment_methods[method]) { %>
                      <i class="pay-icon pay-icon--<%= method %>"></i>
                    <% } %>
                  <% }) %>
                </p>
                <a
                  class="footer__title"
                  data-toggle="collapse"
                  href="#footer-security"
                  role="button"
                  aria-expanded="false"
                  aria-controls="footer-security"
                >Segurança
                
                </a>
                <div class="footer__stamps collapse" id="footer-security">
                  <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </div>
      
    <div class="footer__credits">
      <div class="p-0 w-100">
        <div class="row align-items-center justify-content-between credits">
          <div class="col-12 col-md">
            <span>
              <small>
                <%- footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
              </small>
            </span>
          </div>
          <div class="col-auto"><%- await include('@/layout/inc/ecom-credits') %></div>
        </div>
      </div>      
    </div>
  </div>  
</footer>